* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;

}

.container {
  padding: 20px 5%;
}

/* fonts */
li,
.hero-heading,
.button-join,
.button-email {
  font-family: 'orbitron', sans-serif;
}

.logo {
  height: 50px;
  padding-right: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  padding-right: 150px;

}

.list-item {
  margin: 30px;
  font-weight: 500;
  font-size: 20px;
  list-style-type: none;
}

nav div ul li:first-child {
  font-weight: 900;
}

/* underline first child  */
nav div ul li:first-child::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 12%;
  left: 27%;
}

.list-item:hover {
  cursor: pointer;
}

nav .button-group {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.nav-button {
  font-size: 1.3em;
  padding: 2px 40px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #ffffff;
  color: #615f5f;
  margin-left: 15%;
}



/* for banner */

.hero-container-right {
  display: flex;
  flex-direction: column;
  right: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
}


h1.hero-heading {
  position: relative;
  margin-bottom: 40px;
  font-size: 50px;
  margin-top: 50px;
}

.hero-description {
  position: relative;
  text-align: center;
  font-size: medium;
  margin: 0 110px;
  line-height: 1.3;
  color: #4a4848;
}


.button-email {
  position: relative;
  top: 70px;
  padding: 3px 20px;
  border-radius: 7px;
  background-color: #fff;
}

.button-join {
  position: relative;
  top: 70px;
  left: 20px;
  border-radius: 7px;
  padding: 3px;
  color: #ffffff;
  background-color: #000000;
}

button {
  cursor: pointer;

}

.contact-heading {
  position: relative;
  top: 160px;
  color: #615f5f;
  font-weight: 500;
}

.icons {
  position: relative;
  top: 170px;
}

.icons img {
  height: 30px;
  margin: auto 7px;
}

.icons img:hover,
.logo:hover {
  cursor: pointer;
  opacity: 0.5;

}

.globe-pattern:hover,
.start-pattern:hover {
  cursor: pointer;
  opacity: 0.5;

}

span .square-pattern {
  position: absolute;
  top: 200px;
  left: 80px;
  width: 350px;
  z-index: -1;
}

.hero-container {
  position: relative;
}

.person-hero-image {
  position: relative;
  top: 50px;
  left: -70px;

}

img.person-size {
  width: 350px;
}

.globe-pattern {
  position: absolute;
  top: 20px;
  left: 730px;
  width: 60px;
}

.start-pattern {
  width: 73px;
  position: relative;
  top: 30px;
  left: 1100px;
}